/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.carousel {
  height: 600px;
  background-color: #F1F0F6;

  .carousel-indicators {
    top: 20px;
    bottom: 0;

    li {
      margin: 0 5px;
      border-color: #8E8C96;
    }
  }

  .carousel-indicators .active {
    background-color: #8E8C96;

  }

  .carousel-inner {
    overflow: visible;

    .item {
      h2 {
        text-transform: uppercase;
        text-shadow: none;
        font-size: 4.3rem;
        font-family: $base-font;
        font-weight: 100;
        color: #8E8C96;
      }

      img {
        //width: 100%;
        //max-height: 550px;
      }

      .carousel-caption {
        top: 35px;
        bottom: 0;

        img {
          position: relative;
          max-width: 100%;
          max-height: 400px;
          bottom: -45px;

        }
      }
    }
  }
}

.block-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  padding: 30px 50px;
  height: 520px;
  background-image: image-url('home/dress.jpg');

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* FF3.6-15 */
    z-index: 0; /* FF3.6-15 */
    background: -webkit-linear-gradient(rgba(125,185,232,0) 0%, rgba(255,255,255,0.6) 100%);
    background: -o-linear-gradient(rgba(125,185,232,0) 0%, rgba(255,255,255,0.6) 100%);
    background: linear-gradient(rgba(125,185,232,0) 0%, rgba(255,255,255,0.6) 100%); /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  }

  span {
    margin-bottom: -20px;
    font-weight: 200;
    line-height: 33px;
    text-transform: uppercase;
    font-size: 34px;
    color: #514751;
    z-index: 1;
  }
}

.block-2 {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 260px;
  background-image: image-url('home/designer.jpg');
  background-size: cover;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* FF3.6-15 */
    z-index: 0; /* FF3.6-15 */
    background: -webkit-linear-gradient(rgba(125,185,232,0) 0%, rgba(255,255,255,0.4) 100%);
    background: -o-linear-gradient(rgba(125,185,232,0) 0%, rgba(255,255,255,0.4) 100%);
    background: linear-gradient(rgba(125,185,232,0) 0%, rgba(255,255,255,0.4) 100%); /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  }

  span {
    margin-bottom: 15px;
    font-weight: 200;
    line-height: 33px;
    text-transform: uppercase;
    font-size: 34px;
    color: #514751;
    z-index: 1;
  }
}

.block-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 260px;
  background-color: $light-taupe;


  span {
    margin-bottom: 15px;
    font-weight: 200;
    line-height: 33px;
    text-transform: uppercase;
    font-size: 34px;
    color: #514751;
    z-index: 1;
    text-align: center;
  }
  p {
    margin: 13px 0 11px;
  }
}

.block-4 {
  height: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $light-blue;


  span {
    margin-bottom: 15px;
    font-weight: 200;
    line-height: 33px;
    text-transform: uppercase;
    font-size: 34px;
    color: #514751;
    z-index: 1;
    text-align: center;
  }
  p {
    margin: 13px 0 11px;
  }
}

.block-5 {
  display: flex;
  padding: 20px;
  height: 260px;
  background-color: $light-cream;
  background-image: image-url('home/sketch.png');
  background-size: cover;

  span {
    margin-bottom: 15px;
    font-weight: 200;
    line-height: 33px;
    text-transform: uppercase;
    font-size: 34px;
    color: #514751;
    z-index: 1;
  }

}


i:hover {
  color: #bbbbbf;
}


