/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

//
.carousel-button {
  padding: 10px 20px;
  border-radius: 50px;
  line-height: 40px;
  background-color: transparent;
  color: white;
  font-weight: bolder;
  font-size: 14px;
  border: 1px solid white;
}

.carousel-button:hover {
  color: black;
  background: white;
  border-color: black;
}
//

.carousel {
  height: 600px;
  background-color: #F1F0F6;

  .carousel-indicators {
    top: 20px;
    bottom: 0;

    li {
      margin: 0 5px;
      border-color: white;
    }
  }

  .carousel-indicators .active {
    background-color: white;

  }

  .carousel-inner {
    .item {
      h2 {
        text-transform: uppercase;
        text-shadow: none;
        font-size: 4.3rem;
        font-family: $base-font;
        font-weight: 600;
        color: white;
        text-shadow: 1px 1px 3px black;
      }
      img {
        width: 1280px;
        height: 600px;
        object-fit: cover;
        position: relative;
      }

      .carousel-gradient {
        background: rgba(0, 0, 0, 0.4);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }

      .carousel-caption {
        top: 190px;
        bottom: 0;

        img {
          position: relative;
          max-width: 100%;
          max-height: 400px;
          bottom: -45px;

        }
      }
    }
  }

  &.carousel-framed {
    height: 430px;
    .carousel-inner .item img {
      height: 430px;
    }
  }
}

.block-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  padding: 30px 50px;
  height: 520px;
  background-image: image-url('home/dress.jpg');
  &:hover {
    // opacity: 0.7;
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* FF3.6-15 */
    z-index: 0; /* FF3.6-15 */
    background: -webkit-linear-gradient(rgba(125,185,232,0) 0%, rgba(255,255,255,0.6) 100%);
    background: -o-linear-gradient(rgba(125,185,232,0) 0%, rgba(255,255,255,0.6) 100%);
    background: linear-gradient(rgba(125,185,232,0) 0%, rgba(255,255,255,0.6) 100%); /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  }

  span {
    margin-bottom: -20px;
    font-weight: 200;
    line-height: 33px;
    text-transform: uppercase;
    font-size: 34px;
    color: #514751;
    z-index: 1;
  }
}

.block-2 {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 260px;
  background-image: image-url('home/designer.jpg');
  background-size: cover;
  &:hover {
    // opacity: 0.7;
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* FF3.6-15 */
    z-index: 0; /* FF3.6-15 */
    background: -webkit-linear-gradient(rgba(125,185,232,0) 0%, rgba(255,255,255,0.4) 100%);
    background: -o-linear-gradient(rgba(125,185,232,0) 0%, rgba(255,255,255,0.4) 100%);
    background: linear-gradient(rgba(125,185,232,0) 0%, rgba(255,255,255,0.4) 100%); /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  }

  span {
    margin-bottom: 15px;
    font-weight: 200;
    line-height: 33px;
    text-transform: uppercase;
    font-size: 34px;
    color: #514751;
    z-index: 1;
  }
}

.block-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 260px;
  //width: 307px;
  background-color: $light-taupe;
  position: relative;
  &:hover {
    // opacity: 0.7;
  }
  span {
    margin-bottom: 15px;
    font-weight: 200;
    line-height: 33px;
    text-transform: uppercase;
    font-size: 34px;
    color: #514751;
    z-index: 1;
    text-align: center;
  }
  p {
    margin: 13px 0 11px;
  }
}

.block-4 {
  height: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $light-blue;
  &:hover {
    // opacity: 0.7;
  }

  span {
    margin-bottom: 15px;
    font-weight: 200;
    line-height: 33px;
    text-transform: uppercase;
    font-size: 34px;
    color: #514751;
    z-index: 1;
    text-align: center;
  }
  p {
    margin: 13px 0 11px;
  }
}

.block-5 {
  display: flex;
  padding: 20px;
  height: 260px;
  background-color: $light-cream;
  background-image: image-url('home/sketch.png');
  background-size: cover;
  &:hover {
    // opacity: 0.7;
  }
  span {
    margin-bottom: 15px;
    font-weight: 200;
    line-height: 33px;
    text-transform: uppercase;
    font-size: 34px;
    color: #514751;
    z-index: 1;
  }
}


i:hover {
  color: #bbbbbf;
}

.wrapper-grey {
  background: #FAFAFA;
  padding-top: 40px;
  h2 {
    font-family: Raleway;
    font-weight: 100;
    margin-top: 10px;
  }
}

.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: white;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

