/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.carousel {
  height: 550px;
  background-color: #F1F0F6;

  .carousel-indicators {
    top: 100px;
    bottom: 0;

    li {
      margin: 0 5px;
      border-color: #8E8C96;
    }
  }

  .carousel-indicators .active {
    background-color: #8E8C96;
  }

  .carousel-inner {
    overflow: visible;

    .item {
      h2 {
        text-transform: uppercase;
        text-shadow: none;
        font-size: 4.3rem;
        font-family: $base-font;
        font-weight: 100;
        color: #8E8C96;
      }

      img {
        //width: 100%;
        //max-height: 550px;
      }

      .carousel-caption {
        top: 115px;
        bottom: 0;

        img {
          position: relative;
          max-width: 100%;
          max-height: 400px;
          bottom: -45px;
        }
      }
    }
  }
}

.block-1 {
  display: flex;
  justify-content: center;
  // align-items: center;
  height: 420px;
  // background-color: $light-green;
  background-image: url('home/dress.jpg');


}

.block-2 {
  display: flex;
  justify-content: center;
  height: 210px;
  background-image: url('home/designer.jpg');
  background-size: cover;

}

.block-3 {
  display: flex;
  justify-content: center;
  height: 210px;
  background-color: $light-taupe;
    img {

          max-width: 100%;

    }

}

.block-4 {
  height: 210px;
  display: flex;
  justify-content: center;
  // background-color: $light-blue;
  background-image: url('home/coat.jpg');
  background-size: cover;
}

.block-5 {
  display: flex;
  justify-content: center;
  height: 210px;
  background-color: $light-cream;
}

.btn-primary {
  background-color: transparent;
  border-color: #bdbcc4;
  border-radius: 50px;
  color: #bdbcc4;
  position: absolute;
  top: 75%;
  border-width: 2px;


}

.btn-primary:hover {
      background-color: transparent;
      border-color: white;
    }





