// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-background {
  width: 100%;
  height: 100%;
  background-size: cover;
  position: absolute;
  display: flex;
}

.quarter-screen {
  width: 25%
}
.threequarter-screen {
  width: 75%
}

.profile-picture img {
  width: 120px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 3px solid;
  position: relative;
  margin-top: -60px;
}

.profile-text {
  position: relative;
  bottom: 12px;
}

.profile-card {
  background-color: white;
  position: relative;
  // max-width: 300px;
  height: 500px;
  padding: 20px;
  margin-top: 65px;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.profile-name {
  color: black;
  position: relative;
  margin: 20px 0 10px;
  font-family: Raleway;
  font-weight: 100;
  font-size: 23px;
}

.profile-description {
  color: $gray-lighter;
  font-size: 16px;
  position: relative;
  font-family: Raleway;
  font-weight: 300;
}

.share-links {
  display: flex;
  position: relative;
  //top: 130px;
  align-items: center;
  justify-content: space-around;
}

.share-link {
  flex: 0 0 24%;
  color: black;
  max-width: 42px;
  height: 42px;
  font-size: 16px;
  padding: 10px 0;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
  background-color: #f4f4f4;
  border-radius: 50%;
  }

  .btn-follow {
    position: relative;
    background-color: $gray-dark;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    border-radius: 0 0 3px 3px;
    outline: none;

    &:hover {
      color: white;
      background-color: $gray-lighter;
    }
  }
  .edit-link {
  position: absolute;
  right: 20px;
  color: $gray-lighter;
  }

  //current-cards

.progress {
  margin: 0px 15px;
}
.cards-vertical {
  background-color: white;
  height: 225px;
  box-shadow: 0px 1px 4px lightgrey;
  margin-top: 10px;
  margin-bottom: 10px;
  object-fit: fill;
  .top {
    height: 140px;
    img {
      max-width: 100%;
      min-width: 100%;
      max-height: 100%;
      min-height: 100%;
      background-image: contain;
      margin-top: 17px;
      object-fit: contain;
    }
  }
  .bottom {
    padding: 0px 15px 15px 15px;
    margin-top: 5px;
    .left {
      text-align: end;
    }
    h3 {
      font-size: 10px;
      font-weight: bolder;
      line-height: 1px;
    }
    p {
      font-size: 10px;
      margin: 5px 0 11px;
    }
    .button {
      padding: 10px 20px;
      border-radius: 4px;
      line-height: 40px;
      background-color: white;
      color: #bbbbbf;
      font-size: 14px;
      border: 1px solid #bbbbbf;
      &:hover {
        text-decoration: none;
        color: black;
        background: white;
        border-color: black;
      }
    }
  }
}
.row-fix {
  padding-top: 65px;

  p {
    color: white;
    font-family: Raleway;
    font-weight: 100;
    font-size: 20px;
  }
}

.fixed-days {
  color: white;
  padding-top: 5px;
}

