// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-background {
  width: 100%;
  height: 100%;
  background-size: cover;
  position: absolute;
  display: flex;
}

.mid-screen {
  width: 25%
}

.profile-picture img {
  width: 120px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 3px solid;
  position: relative;
  margin-top: -60px;
}

.profile-text {
  position: relative;
  bottom: 12px;
}

.profile-card {
  background-color: white;
  position: relative;
  max-width: 300px;
  height: 420px;
  padding: 20px;
  margin-top: 65px;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.profile-name {
  color: black;
  position: relative;
  margin: 20px 0 10px;
  font-family: Raleway;
  font-weight: 100;
  font-size: 23px;
}

.profile-description {
  color: $gray-lighter;
  font-size: 16px;
  position: relative;
  font-family: Raleway;
  font-weight: 300;

}

.profile-container {
  //width: 450px;
  //height: 100%;
  //margin-left: 200px;
  //background: white;
  //position: absolute;
}

.share-links {
  display: flex;
  position: relative;
  //top: 130px;
  align-items: center;
  justify-content: space-around;
}



.share-link {
  flex: 0 0 24%;
  color: black;
  max-width: 42px;
  height: 42px;
  font-size: 16px;
  padding: 10px 0;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
  background-color: #f4f4f4;
  border-radius: 50%;
  }

  .btn-follow {
    position: relative;
    background-color: $gray-dark;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    border-radius: 0 0 3px 3px;
    outline: none;

    &:hover {
      color: white;
      background-color: $gray-lighter;
    }
  }
  .edit-link {
  position: absolute;
  right: 20px;
  color: $gray-lighter;
  }


