// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-background {
  width: 100%;
  height: 300px;
  background-size: cover;
  position: absolute;
  display: flex;
}

.profile-picture img {
  width: 120px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
  position: relative;
  bottom: -120px;
  left: 80px;
}

.profile-text {
  position: relative;
  right: 90px;
  bottom: 12px;
}

.profile-name {
  color: white;
  font-size: 40px;
  position: relative;
  top: 125px;
  left: 210px;
  font-family: Raleway;
  font-weight: 100;
}

.profile-description {
  color: $gray-lighter;
  width: 600px;
  font-size: 22px;
  position: relative;
  top: 135px;
  left: 210px;
  font-family: Raleway;
  font-weight: 300;
}

.card {
  width: 200px;
  height: 100%;
  color: #FFF;
}
