<% if  @campaign.accepted? && @campaign.status_public == nil %>
  <div class="wrapper-green">
    <div>
      <%= link_to "launch", campaign_path(@campaign), method: :patch, class: "btn btn-default" %>
    </div>
  </div>
<% end %>


<%= render "shared/showcampaigns", campaigns: @campaigns %>


