<%= render "shared/showcampaigns", campaigns: @campaigns %>
<div class="col-lg-6 col-lg-offset-6">
  <%#= link_to "See all my campaigns", dashboard_campaigns_path(@campaign), {class: "btn btn-default"} %>

  <% if  @campaign.accepted? && @campaign.status_public == nil %>
    <%= link_to "launch", campaign_path(@campaign), method: :patch, class: "btn btn-default" %>
  <% end %>
</div>
