
<div id="footer-bar">
  <footer>
    <div class="row">
      <div class="col-md-4">
        <div class="brand">
          <span >The Needle</span>
          <p>© 2016</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="social">
          <p><i class="fa fa-instagram" aria-hidden="true"></i></p>
          <p><i class="fa fa-twitter" aria-hidden="true"></i></p>
          <p><i class="fa fa-facebook-square" aria-hidden="true"></i></p>
        </div>
      </div>
    </div>
  </footer>
</div>

