<div class="fluid-container">
  <div class="row">
    <div class="col-sm-12">
     <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">

          <div class="carousel-caption">
            <h2>My first creation</h2>
            <%= image_tag 'home/carousel-2.jpg', alt:'' %>
          </div>
        </div>
        <div class="item">
          <!-- <#= image_tag 'home/carousel-2.jpg', alt:'Ceci est une bien belle phto' #> -->
          <div class="carousel-caption">
            <h2>My first creation</h2>

              <%= image_tag 'home/fashion-1.png', alt:'' %>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3 block-1">

      <button type="button" class="btn btn-primary home-btn" id="home-btn">Trends</button>

    </div>
    <div class="col-lg-9">
      <div class="row">
        <div class="col-lg-8 block-2">

           <button type="button" class="btn btn-primary home-btn" id="home-btn">Our designers</button>
        </div>
        <div class="col-lg-4 block-3">
        <div class="img-sketch">
          <%= image_tag 'home/sketch.png', alt:'' %>
        </div>
          <button type="button" class="btn btn-primary home-btn" id="home-btn">Primary</button>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 block-4">
          <button type="button" class="btn btn-primary home-btn" id="home-btn">Our Selections</button>
        </div>
        <div class="col-lg-8 block-5">
          <button type="button" class="btn btn-primary home-btn" id="home-btn">Primary</button>
        </div>
      </div>
    </div>
  </div>
</div>


