// Your footer style
#footer-bar {
  height: 100px;
  background-color: white;
  border-top-width: 1px;
  border-top-color: #c6c6c6;
  border-top-style: solid;
  padding-top: 15px;

}


  .social {
    position: relative;
    font-size: 40px;
    padding: 25px;
    // text-align: center;
    display: inline-block;
  }

  .brand {
    position: relative;
    left: 165px;
    font-size: 30px;
    color: black;
    font-family: 'Amatic SC', cursive;
    padding: 15px;
    &:hover {
      color: black;
    }
  }




