.progress {
  margin: 0px 15px;
}
.cards-vertical {
  background: white;

  height: 525px;
  width: 100%;
  box-shadow: 0px 1px 4px lightgrey;
  margin-top: 40px;
  margin-bottom: 10px;

  object-fit: fill;
  .top {
    height: 410px;
    width: 100%;
    img {
      max-width: 100%;
      min-width: 100%;
      max-height: 100%;
      min-height: 100%;
      width: 100%;
      height: 100%;
      background-image: contain;
      object-fit: cover;
      &:hover {
        opacity: 0.8;
        transition: 0.7s;
      }
    }

  }
  .bottom {
    padding: 0px 15px 0px 15px;
    margin-top: 5px;
    height: 100%;
    .left {
      text-align: end;
    }
    h3 {
      font-size: 14px;
      font-weight: bolder;
      line-height: 1px;
    }
    p {
      font-size: 13px;
      margin: 5px 0 11px;
    }
    .button {
      padding: 10px 20px;
      border-radius: 4px;
      line-height: 40px;
      background-color: white;
      color: #bbbbbf;
      font-size: 14px;
      border: 1px solid #bbbbbf;
      &:hover {
        text-decoration: none;
        color: black;
        background: white;
        border-color: black;
      }
    }
  }
}
