
.form-field {
    width: 80% !important;
    background: none !important;
    border: 0 !important;
    border-bottom: 2px solid #fff !important;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 300 !important;
    color: #fff !important;
    padding: 5px 0 !important;
    margin: 0 auto 15px !important;
    display: block !important;
    font-size: .875rem !important;
    color: #ff0000 !important;
  }

input {
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    cursor: auto;
    padding: 1px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

input, textarea, keygen, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em 0em 0em 0em;
    font: 11px BlinkMacSystemFont;
}
