<div class="wrapper-grey">
  <div class="container" id="last">
    <h2 class="discover-titles">Last Minute<h2>
    <%= render "dashboard/campaigns/cards", campaigns: @last_minute_campaigns %>
    <hr>
  </div>

  <div class="container" id="trends">
    <h2 class="discover-titles">Trends<h2>
    <%= render "dashboard/campaigns/cards", campaigns: @campaigns_trends %>
    <hr>
  </div>

  <div class="container">
    <h2 class="discover-titles">All<h2>
    <%= render "dashboard/campaigns/cards", campaigns: @campaigns %>
    <hr>
  </div>
</div>
