
<div class="container">
  <h2>last minute<h2>
    <%= render "dashboard/campaigns/cards", campaigns: @last_minute_campaigns %>
  <hr>
</div>

<div class="container">
  <h2>Trends<h2>
    <%= render "dashboard/campaigns/cards", campaigns: @campaigns_trends %>
  <hr>
</div>

<%= render "dashboard/campaigns/cards", campaigns: @campaigns %>











