<div class="container">
  <h2>last minute<h2>

    <% @campaigns.each do |campaign| %>
      <% if campaign.active? || campaign.in_production? %>
        <% if campaign.days_left <= 9 %>
        <%= render "dashboard/campaigns/cards", campaigns: @last_minute_campaigns %>
      <% end %>
    <% end %>
  <% end %>
  <hr>

</div>

<%= render "dashboard/campaigns/cards", campaigns: @campaigns %>


